{% extends 'app/main.html' %}
{% load static %}
{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
</div>
<!-- Content Row -->
<div class="row">

    <!-- AFFORDABILITY -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">FOOD AFFORDABILITY
                            (category rank)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            70<sup>th</sup></div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- AVAILABILITY -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">FOOD AVAILABILITY
                            (category rank)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">61<sup>st</sup></div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- QUALITY & SAFETY -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">QUALITY & SAFETY (category
                            rank)</div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">85<sup>th</sup></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Global Food Security Index -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Global Food Security
                            Index</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">72<sup>nd</sup></div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-balance-scale-left fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Content Row -->
<!-- Illustrations -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Food Security in post-COVID India.</h6>
    </div>
    <div class="card-body">
        <div class="text-center">
            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                src="{% static 'img/food_illustrations.svg' %}" alt="">
        </div>
        <p>The Covid-19 pandemic has resulted in a looming crisis for the global and Indian
            economies.
            As per the IMF projections,
            India’s GDP is projected to grow at 1.9%, which has since been downgraded to 0.2-0.5 per
            cent by several rating agencies.
            One of the most serious impacts is expected to be on food security. It is feared that
            the
            continuing lockdowns across the country,
            affecting labour and input availability for agricultural operations, coupled with the
            stoppage of transport networks,
            will seriously disrupt food supplies. The consequent fall in rural incomes is expected
            to
            impact food demand and
            also the overall economic growth adversely. As per the Global Food Security Index, India
            is
            at 72<sup>nd</sup> global rank.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <!-- Project Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Grains imported from 2015 to 2020
                    (Quantity in mmt)</h6>
            </div>
            <div class="card-body">
                <h4 class="small font-weight-bold">2019-20(April) <span class="float-right">2.63</span>
                </h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 26%" aria-valuenow="26"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">2018-19 <span class="float-right">2.53</span>
                </h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">2017-18 <span class="float-right">5.6</span>
                </h4>
                <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar" style="width: 56%" aria-valuenow="56" aria-valuemin="0"
                        aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">2016-17 <span class="float-right">6.6</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 66%" aria-valuenow="66"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">2015-16 <span class="float-right">5.8</span>
                </h4>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 58%" aria-valuenow="58"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <br>
                <h4 class="small"> <span class="float-right">Source: APEDA</span>
                </h4>
            </div>
        </div>
    </div>
    <!-- Bar Chart -->
    <div class="col-md-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Hunger Index (India's rank)</h6>
            </div>
            <div class="card-body">
                <div class="chart-bar">
                    <canvas id="myBarChart"></canvas>
                </div>
            </div>
            <h4 class="small"> <span class="float-right">Source: Concern Worldwide</span>
            </h4>
        </div>
    </div>

    <div class="row">

        <div class="col-md-3">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Agricultural sector addition to GDP
                        (in %)</h6>
                    <div class="dropdown no-arrow">
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-pie pt-4 pb-2">
                        <canvas id="myPieChart"></canvas>
                    </div>
                    <div class="mt-4 text-center small">
                        <span class="mr-2">
                            <i class="fas fa-circle text-primary"></i> Agriculture
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-success"></i> Other Sectors
                        </span>
                    </div>
                    <h4 class="small"> <span class="float-right">Source: THE WEEK</span>
                    </h4>
                </div>
            </div>
        </div>

        <!-- Area Chart -->
        <div class="col-md-9">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Population</h6>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="myAreaChart"></canvas>
                    </div>
                </div>
                <h4 class="small"> <span class="float-right">Source: TRADING ECONOMICS</span>
                </h4>
            </div>
        </div>
    </div>

    {% endblock content %}